.App {
  text-align: center;
}

@media only screen and (max-width: 999px) {
  .App-logo {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .App-logo {
    width: auto;
    height: 20em;
  }
}

@media only screen and (max-width: 999px) {
  .container {
    position: relative;
    text-align: center;
    color: black;
    font-size: 32px;
    padding-top: 30%;
  }

  .centered {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-family: "Nunito", sans-serif;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    position: relative;
    text-align: center;
    color: black;
    font-size: 32px;
  }

  .centered {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-family: "Nunito", sans-serif;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
