.App {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .App-logo {
    width: 100%;
    height: 10em;
  }
}

@media only screen and (min-width: 1000px) {
  .App-logo {
    width: auto;
    height: 20em;
  }
}

.container {
  position: relative;
  text-align: center;
  color: black;
  font-size: 32px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .centered {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 1000px) {
  .centered {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
